body
    .page
        div.page-header
            header
                //- h1= htmlWebpackPlugin.options.title
                h1 Sierpinski &#9650; explorer
                h2 by #{htmlWebpackPlugin.options.author}
        div.page-content