@font-face {
    font-family: 'omnesmedium';
    src: url('./../fonts/omnes-medium-webfont.eot');
    src: url('./../fonts/omnes-medium-webfont.eot?#iefix') format('embedded-opentype'), 
        url('./../fonts/omnes-medium-webfont.woff') format('woff'), 
        url('./../fonts/omnes-medium-webfont.ttf') format('truetype'),
        url('./../fonts/omnes-medium-webfont.svg#omnesmedium') format('svg')
}
