.page {
    transition: all .5s;
    @extend %plain-background;
    color: $text-colour;
    font-family: $font-family, arial;
    &-header {
        @extend .container-fluid;
        @extend .jumbotron;
        margin: 0;
    }
    &-content {
        @extend .container-fluid;
        margin: 0;
    }
}
